{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.name }}!</h1>

    {% if current_user.user_type == "S" %}
    <h3>You are currently enrolled in:</h3>
    {% endif %}
    {% if current_user.user_type == "P" %}
    <h3>You are currently teaching:</h3>
    {% endif %}

    <div class=row">

        {% for section in sections %}

            <div class="col-sm-4">
                {% include '_coursepanel.html' %}
            </div>

        {% endfor %}

    </div>
{% endblock %}